*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* body{
    background-color: rgb(5, 5, 5);
    color: white;
} */
.left{
    width: 25vw;
    padding: 10px;
}
.right{
    width: 75vw;
}